<!-- register | Students both buttons
 in studedets all the registered students shown in table -->
<!-- name

 email
 course by select
 register button
  -->

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>College Registration System</h1>

    <nav>
        <a href="/register">register</a>|
        <a href="/students">students</a>
    </nav>
    <hr>
    {% block mainbody%}
    {% endblock %}
  
  </body>
  </html>